@import url("../themes/current/waybar.css");

* {
    background-color: transparent;
    color: @foreground;

    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: bold;
}

.modules-left {
    padding: 4px 10px;
    margin: 5px 0 0 10px;
    background-color: @background;
    border-radius: 50px;

}

.modules-right {
    padding: 4px 10px;
    margin: 5px 10px 0 0;
    background-color: @background;
    border-radius: 50px;
}

.modules-center {
    padding: 0px 10px;
    margin: 5px 0 0 0;
    background-color: @background;
    border-radius: 50px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-update {
    min-width: 12px;
    margin: 0 7.5px;
}

#custom-expand-icon {
    margin-right: 7px;
}

tooltip {
    padding: 2px;
    background-color: @background;
    border-radius: 10px;
}

#custom-update {
    font-size: 10px;
}

#clock {
    margin-left: 8.75px;
}

.hidden {
    opacity: 0;
}
